#### Creating dictionary

In [1]:
student = {
    "name": "Prajwal",
    "age": 21,
    "course": "BSc CSIT",
    "marks": 85
}

print(student)

{'name': 'Prajwal', 'age': 21, 'course': 'BSc CSIT', 'marks': 85}

####

### Accessing dictionary values

#### Accessing single values

student = {
    "name": "Prajwal",
    "age": 21,
    "course": "BSc CSIT",
    "marks": 85
}

print(student["age"])
print(student.get("age"))

# if the key isnt present
print(student.get("age1")) ## return None if the key isnt present
print(student["age1"])  ## raises error if key isnt present

#### Accessing keys

In [ ]:
student = {
    "name": "Prajwal",
    "age": 21,
    "course": "BSc CSIT",
    "marks": 85
}

print(student.keys())

dict_keys(['name', 'age', 'course', 'marks'])

#### Accessing items i.e key-value pair

In [10]:
student = {
    "name": "Prajwal",
    "age": 21,
    "course": "BSc CSIT",
    "marks": 85
}

for key,value in student.items():
    print(f"The value corresponding to the key {key} is {value}")

The value corresponding to the key name is Prajwal
The value corresponding to the key age is 21
The value corresponding to the key course is BSc CSIT
The value corresponding to the key marks is 85

#### Changing values

In [5]:
student = {
    "name": "Prajwal",
    "age": 21,
    "course": "BSc CSIT",
    "marks": 85
}

print(f"Before changing:\n{student}")
student["marks"] = 95

print(f"\nAfter changing: \n{student}")

Before changing:
{'name': 'Prajwal', 'age': 21, 'course': 'BSc CSIT', 'marks': 85}

After changing:
{'name': 'Prajwal', 'age': 21, 'course': 'BSc CSIT', 'marks': 95}

#### Updating values
- update()
- update() changes the value if present else add new key-value pair to the dictionary
- can add multiple key value pairs

In [8]:
student = {
    "name": "Prajwal",
    "age": 21,
    "course": "BSc CSIT",
    "marks": 85
}

student.update({"marks":94}) #updates the existing value 
student.update({"college":"Orchid","semester":"7th"}) # adds new key-value pair

student

{'name': 'Prajwal',
 'age': 21,
 'course': 'BSc CSIT',
 'marks': 94,
 'college': 'Orchid',
 'semester': '7th'}

### Removing items

####  Using clear()

In [9]:
student = {
 'name': 'Prajwal',
 'age': 21,
 'course': 'BSc CSIT',
 'marks': 94,
 'college': 'Orchid',
 'semester': '7th'
 }

student.clear()
student

{}

#### Using popitem()
- removes the last inserted item

In [10]:
student = {
 'name': 'Prajwal',
 'age': 21,
 'course': 'BSc CSIT',
 'marks': 94,
 'college': 'Orchid',
 'semester': '7th'
 }

student.popitem()
student

{'name': 'Prajwal',
 'age': 21,
 'course': 'BSc CSIT',
 'marks': 94,
 'college': 'Orchid'}

#### Using pop()
- removes the specified item

In [11]:
student = {
 'name': 'Prajwal',
 'age': 21,
 'course': 'BSc CSIT',
 'marks': 94,
 'college': 'Orchid',
 'semester': '7th'
 }

student.pop("college")
student

{'name': 'Prajwal',
 'age': 21,
 'course': 'BSc CSIT',
 'marks': 94,
 'semester': '7th'}

#### Using del keyword
- removes item with specified key name
- can also delete the dictionary

In [13]:
student = {
 'name': 'Prajwal',
 'age': 21,
 'course': 'BSc CSIT',
 'marks': 94,
 'college': 'Orchid',
 'semester': '7th'
 }

del student["semester"]

student

{'name': 'Prajwal',
 'age': 21,
 'course': 'BSc CSIT',
 'marks': 94,
 'college': 'Orchid'}

#### Copying a dictionary
- can be done by either copy() method or dict() function

In [17]:
student = {
 'name': 'Prajwal',
 'age': 21,
 'course': 'BSc CSIT',
 'marks': 94,
 'college': 'Orchid',
 'semester': '7th'
 }


new_dict = student.copy()
print(f"Dictionary copied using copy() method : \n{new_dict}")

new_dict2 = dict(student)
print(f"\nDictionary copied using dict() function:\n{new_dict2}")

Dictionary copied using copy() method :
{'name': 'Prajwal', 'age': 21, 'course': 'BSc CSIT', 'marks': 94, 'college': 'Orchid', 'semester': '7th'}

Dictionary copied using dict() function:
{'name': 'Prajwal', 'age': 21, 'course': 'BSc CSIT', 'marks': 94, 'college': 'Orchid', 'semester': '7th'}

#### Nested Dictionary

In [ ]:
dict = {
    "book1":{"title":"Python",
             "published_year":"2025"},
    "book2":{"title":"C++",
             "published_year":"2023"},
    "book3":{"title":"Java",
             "published_year":"2024"}
}


##looping through nested dictionary

for key,value in dict.items():
    print(f"{key}:{value}")
    for x in value:
        print(value[x])


dict["book1"]["title"]

book1:{'title': 'Python', 'published_year': '2025'}
Python
2025
book2:{'title': 'C++', 'published_year': '2023'}
C++
2023
book3:{'title': 'Java', 'published_year': '2024'}
Java
2024

'Python'